@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: 'Bai Jamjuree';
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}

.text-brand {
  color: var(--color-brand);
}
textarea.form-control::placeholder,
input.form-control::placeholder {
  color: var(--color-brand);
  opacity: 1;
}
textarea.form-control:focus,
input.form-control:focus {
  color: var(--color-brand);
  background-color: var(--color-base);
  border: var(--color-brand2) 1px solid;
}
textarea.form-control,
input.form-control {
  background-color: var(--color-base);
  color: var(--color-brand);
  border: none;
}

.bg-base {
  background-color: var(--color-base);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 0px var(--color-brand);
}

.shadow-effect-1:hover {
  box-shadow: -6px 6px 0 0px rgb(220, 33, 70);
}
.iconbox {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: var(--color-brand);
  color: var(--color-base);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* Navbar */
.navbar {
  background-color: var(--color-base);
}
.navbar .nav-link.active {
  color: var(--color-brand) !important;
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(rgba(3, 63, 71, 0.9), rgba(3, 63, 71, 0.7)),
      url('https://images.pexels.com/photos/775201/pexels-photo-775201.jpeg?cs=srgb&dl=pexels-hikaique-775201.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
  }

  .nav-item {
    width: 100%;
  }

  .navbar .nav-link {
    font-weight: 700;
    color: var(--color-heading);
  }
  .navbar .nav-link:hover {
    color: var(--color-brand) !important;
  }
  .navbar-brand .image-container {
    position: relative; /* Position relative to use pseudo-element */
    height: 200px;
    width: 200px;
    aspect-ratio: 2/1;
    background-position: center;
    background-size: cover;
    border-radius: 50%; /* Make the container round */
    background-image: url('../images/my2.jpeg');
    overflow: hidden; /* Hide overflow of the pseudo-element */
    transform: scaleX(-1);
  }
  .navbar-brand .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--color-brand);
    box-sizing: border-box; /* Include border in size calculation */
    transform: rotate(0deg);
    animation: rotateBorder 10s linear infinite,
      changeBorderColor 5s linear infinite;
  }

  /* Keyframes for rotating border */
  @keyframes rotateBorder {
    0% {
      border: 5px solid var(--color-brand);
      border-radius: 50%; /* Keep the border round */
      transform: rotate(0deg);
    }
    100% {
      border: 5px solid var(--color-brand);
      border-radius: 50%; /* Keep the border round */
      transform: rotate(360deg); /* Rotate the border */
    }
  }

  /* Keyframes for changing border color */
  @keyframes changeBorderColor {
    0% {
      border-color: var(--color-brand);
    }
    50% {
      border-color: rgb(158, 215, 58); /* Example accent color */
    }
    70% {
      border-color: rgb(133, 228, 173);
    }
    100% {
      border-color: var(--color-brand);
    }
  }

  .content-wrapper {
    padding-left: var(--sidbar-width);
  }
}

.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-base);
  width: 200px;
}
.btn-icon {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-base);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  /* padding: 5px 5px; */
}

.btn-icon:hover,
.btn-icon:focus {
  background-color: var(--color-brand2);
  border-color: var(--color-brand);
  color: var(--color-base);
  width: 50px;
}

.btn-custom-icon::after {
  content: '';
  height: 3px;
  width: 0;
  background-color: rgb(220, 33, 70);
  position: absolute;
  left: 0;
  top: 96%;
  transition: all 0.5s;
}
.flag-color {
  color: rgb(220, 33, 70);
}
.btn-custom-icon:hover::after {
  width: 100%;
}
.btn-custom-icon {
  position: relative;
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  border-color: var(--color-brand2);
  color: var(--color-base);
  width: 200px;
}

.custom-link {
  font-weight: 700;
  position: relative;
}

.custom-link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.5s;
}

.custom-link:hover::after {
  width: 100%;
}

.card-custom-image img {
  transition: transform 0.7s ease-out;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}
.card-custom-image {
  overflow: hidden;
}

/* Custom tooltip styles */
.tooltip-inner {
  background-color: var(--color-brand) !important;
  color: var(--color-base) !important;
}

.tooltip-arrow::before {
  border-top-color: var(--color-brand) !important;
  border-right-color: var(--color-brand) !important;
}

/* Fullscreen Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

/* Modal Content (the image) */
.modal-content {
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 80%; /* Adjust based on your design */
  height: 90vh;
  max-width: 1000px; /* Adjust based on your design */
  cursor: pointer; /* Show a pointer cursor on hover to indicate it is clickable */
  object-fit: contain;
  background: #2b2b2b7f;
}

/* Caption of Modal */
#caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 25px;
  color: #f1f1f1;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer; /* Show a pointer cursor on hover */
}

/* Close Button on hover */
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}
